/* Favourites Section */
.favourites-section {
    display: none;
    background-color: var(--bg_default);
    color: var(--text-color);
    padding: 20px;
    margin-top: 20px;
    position: fixed;
    width:100%;
    max-height: 50%;
    bottom:0;
}

.favourites-section h2 {
    margin-bottom: 20px;
    font-size: 1.5em;
}

.favourites-container {
    display: flex;
    gap: 20px;
    overflow-x: auto;
}

.favourite-card {
    background-color: var(--bg_default);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width:20%;
    min-width: 200px;
    overflow: hidden;
}

.image-container {
    height: 50%;
    width: 100%;
}

.favorite-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.favourite-info {
    padding: 5px;
}

.favourite-info h3 {
    font-size: 1.2em;
    margin-bottom: 5px;
}

@media (max-width: 560px) {
    .favourites-container {
        flex-direction: column;
        overflow: auto;
    }
    .favourite-card {
        display: flex;
        width: 100%;
    }
    .image-container {
        height: 100%;
        width:50%;
        overflow: hidden;
    }
}
