body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin :0;
    padding:0;
    font-family: "Nunito Sans", sans-serif;
    background-color: var(--bg_body);
}

.main {
    color : var(--text-color);
    height: 100%;
}

 .course-details {
    color : white;
    background-color: var(--details-bg);
    display: flex;
    justify-content: space-between;
    padding: 10px 20%;
}

.card {
    color:black;
    max-width: 250px;
    margin-bottom:-100px;
    border: 3px solid white;
}

.image-container {
    width: 100%;
    height: 50%;
    background-color: white;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-details {
    height: 50%;
    padding:10px;
    background-color: white;
}

.add-to-favourties {
    text-align: center;
    border: 2px solid rgb(188, 186, 186);
}

.favourites-btn {
    color : white;
    border: 0px;
    font-size: 20px;
    padding:5px;
    background-color: var(--brand-secondary);
}

.category {
    color:var(--brand-secondary);
}

.subtopics {
    align-items: center;
    flex-direction: column;
    align-content: center;
    border: 2px solid var(--lines-color);
    border-radius: 5px;
    width:30%;
    margin: 20px 30%;
}

.subtitle {
    padding:3px;
    background-color: var(--bg_default);
}

.subtopic {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid var(--lines-color);
    padding:3px;
    background-color: var(--bg_default);
}

.footer {
    text-align: center;
    color : var(--text-color);
}

.updown-margin {
    margin: 10px 0px;
}

@media (max-width: 560px) {
    .course-details {
        flex-direction: column;
    }
    .card {
        margin-bottom: 0px;
        width :100%;
    }
    .button-text {
      display: none;
    }
    .favourites-container {
        flex-direction: column;
        align-items: stretch;
    }
    .favourites-section {
        overflow-y: auto;
    }
    .icon {
        width: 25px;
        height: 25px;
    }
  }